extends layout

block content
    nav
      .nav-wrapper
        span.page-title Tolido
        ul#menu.right
          li 
            a(onclick='$("#addProjectModal").openModal()'): i.fa.fa-lg.fa-plus
          li 
            a(onclick='$("#deleteProjectModal").openModal()'): i.fa.fa-lg.fa-trash-o
          li
            a(href='/user/profile'): i.fa.fa-lg.fa-cog
          li
            a(href='/user/logout'): i.fa.fa-lg.fa-sign-out
              
    .container
      #container
        .row
          #addTask.col.s12.m4
          .col.s12.m8
            #projects !{projects}
          
    script.
      var userToken = "#{token.value}";
    script(src='/js/tolido.js')
    
    include ./includes/modals.jade
      
