extends layout

block content
    nav
      .nav-wrapper
        span.page-title Tolido
        ul.right
          li
            a.dropdown-button.right(data-activates='menu')
              i.fa.fa-ellipsis-v
              
    .container
      #container !{projects}
    
    a.btn.btn-floating.btn-large.red(onclick='$("#addTaskModal").openModal()')
      i.fa.fa-plus
    
    script.
      var userToken = "#{token.value}";
    script(src='/js/tolido.js')
    
    include ./includes/modals.jade
      
