extends layout

block content
    .container.parameters
        h2 Paramètres de #{user.local.name}
        a(href='/') Retour aux tâches
        .row
          .col.s12.m6
              h4 Modifier mon mot de passe
              .input-field.col.s12
                | Nouveau mot de passe
                input(type='password').newPswd
              .input-field.col.s12
                | Retapez votre nouveau mot de passe
                input(type='password').newPswdCheck
          .col.s12.m6
            h4 Modifier mon adresse e-mail
            .input-field
              | Nouvelle adresse
              input(type='email').newMail
            h4 Supprimer mon compte
            a(onclick='deleteUser()' href='#') Supprimer définitivement mon compte    
        .row
          button.btn.btn-lg.save Enregistrer
                                                    
block script
    script(src='/js/profile.js')
    script.
      var userToken = "#{user.token.value}";
        function deleteUser() {
            if(confirm("Êtes-vous certain de vouloir supprimer votre compte ?\nToutes vos tâches seront supprimées définitivement.")) window.location = "/user/delete";
        }
